body {
  /* background-color: #854040; */
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  min-height: 100px;
  background-color: #854040;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: aqua;
}
