* {
  margin: 0;
  padding: 0;
  /* gérer le padding */
  box-sizing: border-box;
}

body {
  background-color: rgb(50, 78, 133);
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 12vh;
  background-color: rgb(52, 96, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: antiquewhite; */
}

footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(52, 96, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
}
