/* nav .burger {
  padding: 1rem;
  display: flex;
  background-color: aqua;
} */

.burgermenu {
  height: 10vh;
  width: 10vh;
  margin-left: auto;
  position: relative;
}

.burgermenu span {
  height: 1vh;
  width: 100%;
  background-color: rgb(226, 131, 43);
  border-radius: 5vh;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease;
}

.burgermenu span:nth-child(1) {
  top: 25%;
}

.burgermenu span:nth-child(3) {
  top: 75%;
}

.burgermenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burgermenu.active span:nth-child(2) {
  opacity: 0;
}

.burgermenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burgerpannel {
  background-color: #fff;
  height: 30vh;
  width: 30vw;
  position: fixed;
  top: -30vw;
  right: -120vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  transition: 1 ease;
  border-radius: 1vh;
}

.burgerpannel.active {
  top: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 0px 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
